*{
    background-color: #97979b;
    font-family: "Gobold";
    
    margin: 10px;
    padding: 5px;
}

ul
{
    list-style-type: none;
}

header{
    background-color: #ea541b ;
    color: white;
    
    height: 40px;
    
    text-align: center;
    position: relative;
}

aside{
    font-style: white;
    background-color: #ea541b ;
    
    width: 15%;
    
    position: absolute;    
    float : left;
}

section{
    
    margin-left: 18%;
}

footer{
    color: white;
    background-color: #ea541b ;
    
    position: absolute;
}

.clear {
    clear: both;
}