/*.text-geekinc:before {
    content: '';
    border-style: solid;
    border-width: 0 0 1.5em 0.5em;
    border-color: transparent transparent #e95f24 transparent;
    position: absolute;
    right: 100%;
    top: 0;
}
.text-geekinc:after {
    content: '';
    border-style: solid;
    border-width: 1.5em 0.5em 0 0;
    border-color: #e95f24 transparent transparent transparent;
    position: absolute;
    left: 100%;
    top: 0;
}*/
.text-geekinc {
    box-sizing: border-box;
    background-color: #e95f24;
    color: white;
    font-weight: bold;
    font-family: 'Gobold', sans-serif;
    font-size: 32px;
    height: 50px;
    display: inline-block;
    padding: 0.2em 1em;
    position: fixed;
    bottom: 0.5em;
    left: 1em;
}
.transition {
    transition: transform 1s, color 1s ease-in-out;
    transform-origin: left;
}
.hidden {
    transform : scaleX(0);
    color: #e95f24;
}